* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 62.5%;
    padding-top: 7rem;
}
header {
    position: fixed;
    top: 0;
    z-index: 100;
}
.head1 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: white;
    /*需要添加白色背景色，原因是定位后，滚动条下滑时不添加背景色会导致主体部分图片显示在最顶部*/
}
.tel {
    position: absolute;
    left: 10%;
    color: #29b078;
    line-height: 3rem;
}
.head-image {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -1rem;
    list-style: none;
}
.head-image li {
    float: left;
    padding-left: .5rem;
}
.head-image1 {
    width: 2rem;
    height: 2rem;
    border: 0;
}
.weixin {
    background: url(../image/wei.png);
    background-size: 2rem;
}
.qq {
    background: url(../image/qq.png);
    background-size: 2rem;
}
.xinlang {
    background: url(../image/bo.png);
    background-size: 2rem;
}
.head2 {
    position: fixed;
    top: 3rem;
    width: 100%;
    background-color: #29b078;
    font-size: 1.5rem;
}
.head2 .navbar-toggle {
    border: .1rem solid white;
    margin-right: 10%;
    /*更改标题栏显示“书签”标识时的默认样式以及距离页面右边的距离，使其和上面的图片显示一致*/
}
.navbar {
    margin: 0;
}
span.icon-bar {
    background-color: white;
}
.nav li a {
    color: white;
}
.nav li a:hover {
    background: #29b078;
    border-bottom: .2rem solid white;
}
.carousel {
    background-color: #999999;
}
.carousel .item {
    background-color: #999999;
    /*可以给图片所在div添加背景色，该任务无用*/
}
.carousel img {
    width: 100%;
    /*设置图片宽度100%，使图片铺满div*/
}
.head3 {
    float: right;
}
.main {
    background-color: #fafafa;
}

.row-image {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.row-image p {
    padding-top: 5px;
    color: #999999;
    font-size: 16px;
}

.row-people {
    padding-top: 120px;
    text-align: center;
    border-left: .1rem dashed #dedede;
}
.row-people p {
    padding-top: 5px;
    color: #999999;
    font-size: 16px;
}
.col-sm-3 {
    margin: 3rem 0;
}
.how-study {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.how-study1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.how-study1 p {
    margin: 0;
    color: #999999;
    letter-spacing: .1rem;
}
.radius {
    background-color: white;
    border-radius: 50%;
    color: #29b078;
    font-size: 1.5rem;
    box-shadow: 0 3px 6px #eae9ea;
}
.radius1 {
    width: 4rem;
    height: 4rem;
    display: flex;

}
.radius2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/*初次使用flex布局，垂直居中和水平居中很6，但是圆圈实现的时候，由于布局中空间不够会导致圆圈变形，因此多加了两个div来撑开圆圈*/
.good-student {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background-color: white;
}
/*该处使用flex定位只能将p居中，图片和h居中依靠的时bootstrap中的text-center属性*/
.student p {
    width: 140px;
    color: #999999;

}
.click-circle{
    text-align: center;
    padding: .5rem 0;
}
.circle{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    border:0 solid #26a26f;
    margin-left: 0.5rem;
}
.circle:hover{
    background-color: #26a26f;
}
.cooperator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cooperator2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*flex-wrap页面过小时自动换行显示*/
    background-color: white;
    padding: 0 15px;
    /*加15px的padding是消除bootstrap自带的-15px的影响*/
    margin-top: 3rem;
}
.cooperator1:hover {
    box-shadow: 0 5px 10px #eae9ea;
}
.cooperator1 img {
    width: 100%;
    padding: 3rem 4rem;

}
.lianjie {
    width: 100%;
    background-color: white;
    margin-top: 5rem;
}
.lianjie .how-study {
    padding: 1rem 0;
}
.lianjie2 {
    padding-right: 0;
    /*消除bootstrap默认的padding，使链接都居中*/
}
.lianjie1 li {
    color: #999999;
}
.lianjie1 li a {
    color: #999999;
}

.lianjie1 {
    display: flex;
    justify-content: space-around;
    /*space-between：两端对齐，项目之间的间隔都相等*/
}
li a:hover {
    color:#000;
    text-decoration: none;
    border-bottom: 1px solid #1DB176;
    cursor: pointer;
}


footer {
    width: 100%;
    background-color: #29b078;
    position: relative;
    color: white;
}
footer h4 {
    font-size: 1.5rem;
    padding-top: 2rem;
    margin: 0;
}
footer ul {
    list-style: none;
}
footer li {
    float: left;
}
footer li a {
    color: white;
    font-size: 1rem;
}
footer li a:hover {
    color: white;
}
.net {
    margin-top: 2rem;
    clear: both;
    background: #29b078;
    padding: .5rem 0;
    text-align: center;
    border-top: .2rem solid #32c086;
}