 html {
    font-size: 625%
 }
 /* 768px≤屏幕可见视口宽度<992px */
 @media only screen and (min-width:  768px) and (max-width: 991px) {
     html {
         font-size: 625%
     }
 }
 /* 768px<屏幕可见视口宽度*/
 @media only screen and (max-width: 767px) {
     html {
         font-size: 312%
     }
 }
 body {
    margin: 0;
    padding: 0;
 }
 /*头*/
 header {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 1rem;
    background-color: #FFF;
 }
 .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: .3rem;
 }
 .top-left {
    width: 2rem;
    height: .2rem;
    font-size: .1rem;
    line-height: .2rem;
 }
 .top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: .8rem;
    height: .2rem;
    color: #1DB176;
 }
 .header-box {
    width: 100%;
    height: .7rem;
    background-color: #1DB176;
 }
 .header-left {
     width:.7rem;
     height:.4rem;
     float: left;
     margin-top: .15rem;
 }
 .header-box1 {
    width: .5rem;
    height: .7rem;
    float: right;
 }
 .header-box2 {
    width: .5rem;
    height: .65rem;
    text-align: center;
    line-height: .7rem;
    font-size: .15rem;
    color: #FFF;
 }
 .header-box2 a{
    color: #FFF;
    text-decoration: none;
 }
 .header-box3 {
    width: .5rem;
    height: .05rem;
    background-color: #FFF;
    visibility: hidden;
 }
 .header-box2:hover~ .header-box3 {
    visibility: visible;
 }
 /*导航栏背景图片*/
 nav {
     width: 100%;
     height: 2rem;
     margin-top: 1rem;
     background: url(../image/logo1.png) no-repeat 0 0/100% 100%;
 }
 /*主体内容*/
 main {
     width: 100%;
     height: auto;
     background-color: #FAFAFA;
 }
 .main-top {
     width: 100%;
     height: .5rem;
     font-size: .2rem;
     line-height: .5rem;
 }
 .main-top span {
     color:  #1DB176;
 }
 /*左部分*/
 .main-left {
     align-items: center;
     width: 100%;
     height:auto;
     background-color: #FFF;
 }
 .main-box {
     width: 100%;
     height: .5rem;
     font-size: .2rem;
     text-align: center;
     line-height: .5rem;
     border-bottom: 1px solid  #B1B1B1;
 }
 .main-box1 {
     width: 15%;
     margin: 0 auto;
 }
 ul {
     display:flex;
     flex-direction: column;
     width: 100%;
     height: 3.8rem;
     padding-left: 0;
 }
 li {
     width: 100%;
     height: .3rem;
     list-style-type: circle;
     font-size: .1rem;
     color: #FE965C;
     cursor: pointer;
     line-height: .5rem;
     text-align: left;
 }
 li p {
     color: #1DB176;
 }
 li:hover {
     list-style-type: disc;
     color: #FE965C;
 }
 li:hover p {
     color: #FE965C;
 }
 /*右部分*/
 .main-right {
     width: 100%;
     height: auto;
     background: #FFF;
 }
 .main-right-box {
     width: 100%;
     height: auto;
     padding-bottom: .3rem;
     border-bottom: 1px solid #B1B1B1;
 }
 .logo {
     width: 1rem;
     height: 1rem;
     float: left;
     margin-left: .4rem;
     margin-right: .2rem;
 }
 .main-right-box1 {
     height: auto;
     font-size: .12rem;
    padding: .2rem .2rem 0 .2rem;
 }
 .word {
     padding-bottom: .5rem;
 }
 .main-right-box2 {
     width: 100%;
     height: auto;
     padding: .2rem .2rem 0 .2rem;
     font-size: .12rem;
     background-color: #FFF;
 }
 /*页脚*/
 footer {
     width: 100%;
     height: auto;
     background-color: #1DB176;
 }
 .footer-left {
     width: 100%;
     height: .5rem;
     line-height: .5rem;
     margin-bottom: .25rem;
     color: #FFF;
     font-size: .1rem;

 }
 .footer-box {
     display: flex;
     width: 100%;
     height: .5rem;
 }
 .footer-box1,
 .footer-box2 {
     width: .8rem;
     height: .18rem;
     border-right: 1px solid #FFF;
     line-height: .18rem;
 }
 .footer-box2 {
     margin-left: .3rem;
 }
 .footer-box3 {
     width: .8rem;
     height: .18rem;
     margin-left: .3rem;
     line-height: .18rem;
 }
 .footer-box a {
     font-size: .1rem;
     color:#FFF;
     text-decoration: none;
 }
 .footer-box1 a:hover,
 .footer-box2 a:hover,
 .footer-box3 a:hover {
     color: #FFF;
     text-decoration: none;
     border-bottom: 1px solid #FFF;
 }
 .footer-right {
     width: 100%;
     height: .5rem;
     line-height: .5rem;
     color: #FFF;
     font-size: .1rem;
 }
 .footer-right a {
     color: #FFF;
     text-decoration: none;
 }
 .footer-right a:hover {
     color: #FFF;
     text-decoration: none;
     border-bottom: 1px solid #FFF;
 }
 .footer-right-box {
     display: flex;
     align-items: center;
     width: 100%;
     height: .5rem;
     font-size: .1rem;
     line-height: .5rem;
 }
 .footer-right-box2 {
     margin-left: .2rem;
 }
 .footer-right-box1 a,
 .footer-right-box2 a {
     color: #FFF;
     font-size: .1rem;
     text-decoration: none;
 }
 .footer-right-box1 a:hover,
 .footer-right-box2 a:hover {
     color: #FFF;
     text-decoration: none;
     border-bottom: 1px solid #FFF;
 }
 .footer-image {
     width: 100%;
     height: auto;
     margin: .2rem 0;
 }
 address {
     width: 100%;
     height: .3rem;
     background-color: #1DB176;
     border-top: 1px solid #FFF;
     font-size: .1rem;
     color: #FFF;
     text-align: center;
     line-height: .3rem;
 }